<!-- Category Section -->
<div class="container my-5">
	<h2 class="text-center mb-4">Shop by Category</h2>
	<div class="row">
		<!-- Category Card 1 -->
		<div class="col-md-4 col-sm-6 mb-4">
			<a href="/Product/FruitsAndVege" class="text-decoration-none">
				<div class="card shadow-sm border-0 text-center h-100">
					<img src="/images/FV.jpg" class="card-img-top" alt="Fruits & Vegetables" style="height: 300px; object-fit: cover;">
					<div class="card-body">
						<h5 class="card-title">Fruits & Vegetables</h5>
					</div>
				</div>
			</a>
		</div>
		<!-- Category Card 2 -->
		<div class="col-md-4 col-sm-6 mb-4">
			<a href="/Product/DairyProd" class="text-decoration-none">
				<div class="card shadow-sm border-0 text-center h-100">
					<img src="/images/Dp.jpg" class="card-img-top" alt="Dairy Products" style="height: 300px; object-fit: cover;">
					<div class="card-body">
						<h5 class="card-title">Dairy Products</h5>
					</div>
				</div>
			</a>
		</div>
		<!-- Category Card 3 -->
		<div class="col-md-4 col-sm-6 mb-4">
			<a href="/Product/BreadAndBak" class="text-decoration-none">
				<div class="card shadow-sm border-0 text-center h-100">
					<img src="/images/BAB.jpg" class="card-img-top" alt="Bakery & Bread" style="height: 250px; object-fit: cover;">
					<div class="card-body">
						<br />
						<br />

						<h5 class="card-title">Bakery & Bread</h5>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<!-- Category Card 4 -->
		<div class="col-md-4 col-sm-6 mb-4">
			<a href="/Product/SnacksAndConfec" class="text-decoration-none">
				<div class="card shadow-sm border-0 text-center h-100">
					<img src="/images/SAC.jpg" class="card-img-top" alt="Snacks & Confectionery" style="height: 200px; object-fit: cover;">
					<div class="card-body">
						<br />
						<br />
						<br />
						<br />
						<br />
						<br />
						<h5 class="card-title">Snacks & Confectionery</h5>
					</div>
				</div>
			</a>
		</div>
		<!-- Category Card 5 -->
		<div class="col-md-4 col-sm-6 mb-4">
			<a href="/Product/Beverages" class="text-decoration-none">
				<div class="card shadow-sm border-0 text-center h-100">
					<img src="/images/Bev.jpg" class="card-img-top" alt="Beverages" style="height: 350px; object-fit: cover;">
					<div class="card-body">
						<h5 class="card-title">Beverages</h5>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
